<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Sign Up</h3>
      <form action="/" method="POST">
        <label for="username">Username</label>
        <input type="text" name="user[username]" required="true">
        <br>
        <br>
        <label for="password">Password</label>
        <input type="password" name="user[password]" required="true">
        <br>
        <br> 
        <input type="submit" value="Sign Up!">
      </form>
      <a href="/login">Login!</a>
    </div>
  </div>
</div>